<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#293B38;font-family: 'Open Sans Condensed'">

  {% if res == 169 %}
  <button style="background-color:orange;
  padding: 10px 15px;text-align: center;
  color:white;position: absolute;right: 50%;">Did you cancel your download?
  <br>If not, please email me: guy.weiss@video-flow.com</button>
  {% endif %}
<br>

    {% if res == "no match" %}
    <button style="background-color:red;
    padding: 5px 15px;text-align: center;
    color:white;position: absolute;right: 50%;">No match found please submit again</button>
    {% endif %}

    <br>
    
    <br>
    <div style="  display: inline-block;
  background-color: #739EA4;
  position: absolute; ;left: 20px;
  ;width: 300px;
  text-align: center;margin: auto;padding: 10px 20px;border-radius: 7px">
    

    <br>
    <img style="height: 90%; width: 90%" src="{{url_for('static', filename='logos/'+'VF_Main_Logo_1.png')}}"  alt="logo"/>
    <form action="/" method="post" 
    
    >
        <label for="selName" style="font-weight: bold;font-size: 30px">Select Category</label>
        <!-- check required placement -->
        <select name="selName" id="selID" style="position: static;height: 30px;width: 150px"> 
            {%for title in titles%}
            <option value="{{title}}">{{title}}</option>
            {% endfor %}
        </select>

        <br><br><br>
        <input type="submit" value="submit" id="SubmitBtn" style="height: 30px;width: 60px;font-size:15px">
        <br><br>
        <label for="serchName" style="font-weight: bold;font-size: 30px">Find in Category</label>
        <input type="text" name="serchName" id="searchID" style="height: 30px;width: 280px;" required>
        <br><br>
    </form>
</div>
</body>
</html>